.about-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    filter: blur(0.5rem);
    opacity: 0;
    transform: scale(0.9);
    transition: all 600ms ease-in-out;

    &.display-none {
        display: none;
    }

    .about-open-2 & {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

#about-container-white {
    position: fixed;
    right: 0;
    width: 50vw;
    height: 100dvh;
    background-color: white;
    z-index: -2;
}

#about-container-black {
    position: fixed;
    left: 0;
    width: 50vw;
    height: 100dvh;
    background-color: black;
    z-index: -2;
}

#about-text {
    grid-column: 2/3;
    padding: 19rem calc(var(--page-padding) * 16) 0 calc(var(--page-padding) * 3);
    color: black;
    height: auto;
}

#about-contact {
    grid-column: 1/2;
    padding: 19rem calc(var(--page-padding) * 3) 0 var(--page-padding);
    color: white;
    text-align: right;
}