html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; /* Note: font-smooth is not widely supported */
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
    scrollbar-width: none; /* Firefox */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* Disable iOS long-press callout */
}

p {
    margin-top: 0;
}