@import "./variables";
@import "./typography";
@import "./base";
@import "./about";
@import "./projects";


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Arketa";
    font-size: var(--font-size);

    &.initialized {
        #commissioned-projects-container {
            transform: translateY(calc(-100% + var(--info-bar-height) - var(--border-thickness)));
        }

        #personal-projects-container {
            transform: translateY(calc(100% - var(--info-bar-height) + var(--border-thickness)));
        }
    }

    &.about-open-1 {
        #commissioned-projects-container {
            transform: translateY(calc(-100% + var(--info-bar-height) - var(--border-thickness)));
        }

        #personal-projects-container {
            transform: translateY(calc(100% - var(--info-bar-height) + var(--border-thickness)));
        }
    }

    &.about-open-2 {
        #commissioned-projects-container {
            transform: translateY(calc(-100% + var(--info-bar-height) - var(--border-thickness)));
        }

        #personal-projects-container {
            transform: translateY(calc(100% - var(--info-bar-height) + var(--border-thickness)));
        }

        .about-text {
            position: absolute;
            top: 10rem;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(0px);
            opacity: 1;
        }
    }
}


.projects-container {
    position: fixed;
    height: calc(50dvh + var(--info-bar-height)/2);
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr  auto;
    z-index: 100;
    will-change: transform, height;

    &.detail-view {
        height: 100dvh;
    }
}

#commissioned-projects-container {
    --background-color: white;
    --text-color: black;

    color: var(--text-color);
    transition: transform 800ms cubic-bezier(0.4, 0.0, 0.2, 1), height 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
    top: 0;
    left: 0;

    &.not-visible {
        transform: translateY(calc(-100% + var(--info-bar-height) - var(--border-thickness)));
    }
}

#personal-projects-container {
    --background-color: black;
    --text-color: white;

    color: var(--text-color);
    transition: transform 800ms cubic-bezier(0.4, 0.0, 0.2, 1), height 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
    bottom: 0;
    left: 0;

    &.not-visible {
        transform: translateY(calc(100% - var(--info-bar-height) + var(--border-thickness)));
    }
}

.projects-container-info {
    // letter-spacing: 0.05rem;
    height: var(--info-bar-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: "Arketa";
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    background-color: var(--background-color);

    &.detail-view {
        height: 100vh;
    }
}

#commissioned-projects-top {
    border-bottom: var(--border-thickness) solid var(--text-color);
}

.section-title {
    text-transform: uppercase;
}

.section-categories {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.arrow {
    position: absolute;
    right: 0.8rem;
    color: rgb(255, 89, 0);
    transition: transform 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;

    &.no-opacity {
        opacity: 0;
    }
}

.section-title {
    text-align: center;
}

.projects-container-about-outter {
    width: 100%;
    height: var(--info-bar-height);
    display: flex;
}

#commissioned-projects-about-outter {
    justify-content: start;
}

.projects-container-about-inner {
    width: 50%;
    height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

#commissioned-projects-about-inner {
    justify-content: end;
    border-top: var(--border-thickness) solid var(--text-color);
}

#website-title {
    text-transform: uppercase;
    padding-right: var(--page-padding);
}

#personal-projects-about-outter {
    justify-content: end;
}

#personal-projects-about-inner {
    justify-content: start;
    border-bottom: var(--border-thickness) solid var(--text-color);
}

#about-button {
    padding-left: var(--page-padding);
}

#personal-projects-bottom {
    border-top: var(--border-thickness) solid var(--text-color);
}

.circle-button {
    cursor: pointer;

    &::before {
        content: "";
        position: relative;
        display: inline-block;
        width: calc(var(--font-size) * 0.7);
        height: calc(var(--font-size) * 0.7);
        border-radius: calc(var(--font-size) * 0.7 / 2);
        border: 1px solid var(--text-color);
        margin-right: 0.3rem;
        transform: translateY(calc(var(--font-size) * (-0.03)));
    }

    &.active {
        &::before {
            background-color: var(--text-color);
        }
    }

    &:hover {
        &::before {
            background-color: var(--text-color);
        }
    }
}




.arrow-left {
    position: absolute;
    left: 0.4rem;
    color: var(--text-color);
    transition: opacity 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &.no-opacity {
        opacity: 0;
    }
}

.arrow-right {
    position: absolute;
    right: 0.4rem;
    color: var(--text-color);
    transition: opacity 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &.no-opacity {
        opacity: 0;
    }
}

.category-wrapper {
    // width: 29rem;
    position: relative;
    // overflow: hidden;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 9rem;
    //     height: 100%;
    //     background: linear-gradient(to right, var(--background-color), transparent);
    //     z-index: 10;
    //     pointer-events: none;
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     width: 9rem;
    //     height: 100%;
    //     background: linear-gradient(to left, var(--background-color), transparent);
    //     z-index: 10;
    //     pointer-events: none;
    // }
}

.category-container {
    display: flex;
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0;
    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
        display: none; /* WebKit browsers */
    }
}

.category-element {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-left: 1px solid var(--text-color);
    // border-right: 1px solid var(--text-color);
    scroll-snap-align: center;
    flex-shrink: 0;
    padding: 0 4.5rem;
    opacity: 0.4;

    &.active {
        opacity: 1;
    }

    &:not(:first-child) {
        margin-left: -1px;
    }
}

.projects-container-main {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    display: flex;
    align-items: center;
    background-color: var(--background-color);

    &::-webkit-scrollbar {
        display: none; /* WebKit browsers */
    }
}

.single-project-wrapper {
    height: 100%;
    width: var(--single-project-width);
    flex-shrink: 0;
    padding: var(--page-padding) 0.225rem;
    transition: all 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
    overflow: hidden;

    &.filter-1 {
        .project-image {
            filter: blur(20px);
            opacity: 0;
        }

        .project-title {
            filter: blur(20px);
            opacity: 0;
        }

        .project-date {
            filter: blur(20px);
            opacity: 0;
        }
    }

    &.filter-2 {
        width: 0;
        padding: var(--page-padding) 0;
    }
}

.single-project-container {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    filter: blur(0px);
    opacity: 1;
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.project-title {
    filter: blur(0px);
    opacity: 1;
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.project-data {
    filter: blur(0px);
    opacity: 1;
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.top-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    // text-transform: uppercase;
    text-transform: capitalize;
    letter-spacing: -0.03rem;


}

.square-top-left {
    width: 1px;
    height: 1rem;
    background-color: var(--text-color);
    position: relative;

    &::after {
        content: "01";
        position: absolute;
        top: calc(var(--font-size) * var(--line-height) * 1.5);
        margin-left: var(--page-padding);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .detail-view & {
        &::after {
            transition-delay: 300ms;
            opacity: 1;
        }
    }
}

.square-top-right {
    width: 1px;
    height: 1rem;
    background-color: var(--text-color);
    color: var(--text-color);
    position: relative;

    &::after {
        content: "08";
        position: absolute;
        top: calc(var(--font-size) * var(--line-height) * 1.5);
        margin-right: var(--page-padding);
        right: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .detail-view & {
        &::after {
            transition-delay: 300ms;
            opacity: 1;
        }
    }
}

.bottom-squares {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    // text-transform: uppercase;
    text-transform: capitalize;
    letter-spacing: -0.03rem;


}

.square-bottom-left {
    width: 1px;
    height: 1rem;
    background-color: var(--text-color);

    &::after {
        content: "Prev.";
        position: absolute;
        top: calc(var(--font-size) * var(--line-height) * 1.5);
        left: 0;
        opacity: 0;
        transform: translateX(calc(-90% - var(--page-padding)));
        transition: opacity 500ms ease-in-out;
    }

    .detail-view & {
        &::after {
            transition-delay: 300ms;
            opacity: 1;
        }
    }
}

.square-bottom-right {
    width: 1px;
    height: 1rem;
    background-color: var(--text-color);
    z-index: 2;

    &::after {
        content: "Next";
        position: absolute;
        top: calc(var(--font-size) * var(--line-height) * 1.5);
        right: 0;
        opacity: 0;
        transform: translateX(calc(100% + var(--page-padding)));
        transition: opacity 500ms ease-in-out;
    }

    .detail-view & {
        &::after {
            transition-delay: 300ms;
            opacity: 1;
        }
    }
}

/* Marquee Animation Styles */
.marquee-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Disable native scroll - JS handles infinite scrolling */
    position: relative;
    cursor: grab;
    
    &:active {
        cursor: grabbing;
    }
}

.marquee-content {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    transition: transform 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

// Project clone animation (CSS-driven for smoother performance)
.project-clone {
    position: fixed;
    left: var(--clone-initial-left);
    top: var(--clone-initial-top);
    width: var(--clone-initial-width);
    height: var(--clone-initial-height);
    z-index: 9999;
    padding: 0.45rem 0.225rem;
    background-color: var(--background-color);
    transition: left 800ms cubic-bezier(0.4, 0.0, 0.2, 1),
                top 800ms cubic-bezier(0.4, 0.0, 0.2, 1),
                width 800ms cubic-bezier(0.4, 0.0, 0.2, 1),
                height 800ms cubic-bezier(0.4, 0.0, 0.2, 1),
                padding 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
    
    &.animate-to-detail {
        left: var(--clone-final-left);
        top: var(--clone-final-top);
        width: var(--clone-final-width);
        height: var(--clone-final-height);
        padding: 2rem 4rem 3rem 4rem;
    }
}